*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 5px;
  padding: 10px;
}
/* Trick to enable transparency in the background image only. See details in https://coder-coder.com/background-image-opacity/ */
  .main::before {  
      content: "";
      background-image: url('../img/156402.jpg');
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.15;
  }


h1 {
  position: relative;
  text-align: center;
}
#map {
  position: relative;
  padding: 10px;
}

.map-overlay {
  position: relative;
  text-align: right;
}

footer{
  position: relative;
  text-align: center;
  top: 50%;
}

.mainMarker {
  background-image: url('../img/mapbox-centre-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

/* unvisited link */
a:link {
  /* color: rgb(0, 255, 225); */
  text-decoration-line: none;
}

/* visited link */
a:visited {
  text-decoration-line: none;
  /* color: green; */
}

/* mouse over link */
a:hover {
  text-decoration-line: none;
  color: hotpink;
}

/* selected link */
a:active {
  text-decoration-line: none;
  color: blue;
}